body{
display: block;
margin-right: auto;
margin-left: auto;
}

nav{
  background:#D1A635;
  padding: 1px;
  margin-bottom: 20px;
  border-bottom: 3px;
  text-align: center;
  color: black;
}

ul{
  list-style-type: none;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  font-family: 'EB Garamond';
  font-style: italic;
}

a.list{
color: black;
text-decoration: none;
text-transform: uppercase;
}

li {
  float: none;
  width: 33%;
}

h1 {
  font-family: 'Playfair Display';
  font-size: 40px;
  text-align: center;
}

h1.cancer {
font-family: 'Playfair Display';
font-size: 40px;
text-align: left;
}

h1.enterprise {
  font-family: 'Playfair Display';
  font-size: 40px;
  text-align: right;
}

p.byline {
font-size: 20px;
text-align: center;
margin-left: auto;
margin-right: auto;
text-indent: 0px;
font-style: italic;
}

p {
text-indent: 50px;
font-family: 'EB Garamond';
max-width: 600px;
font-size: 25px;
margin-left: auto;
margin-right: auto;
}

.inner-photos {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    gap: 1rem;
    max-width: 600px;
}

.half {
  width: 50%;
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.half img {
  width: 100%;
}

a.brown_box{
  background-color: #C0A18F;
}
a.blue_box{
  background-color: #6FA4C2;
}
a.green_box{
  background-color: #A3B990;
}
p.text{
  text-indent: 50px;
  font-family: 'EB Garamond';
  text-align: left;
}

p.text-first {
  text-indent: 0px;
}

a.dropcap {
    float: left;
    font-size: 64px;
    line-height: 1;
    font-weight: bold;
    margin-right: 9px;
}

nav a:hover, p a.list:hover {
  background-color:black;
  color: #D1A635;
}

/* css for cacner alley and enterprise, la page */

section.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1rem auto;
  max-width: 700px;
  text-align: left;
  gap: 20px;
}

section.enterpriseHeader{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin: 1rem auto;
  max-width: 700px;
  text-align: right;
  gap: 20px;

}

.infographic_spot {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  margin: 1rem auto;
  font-size: 25px;
  text-indent: 50px;
  font-family: 'EB Garamond';
}
.infographic_1 {
  float: right;
}

/* css for enterprise, la*/
.company_container {
  display: flex;
  flex-wrap: wrap;
}

.company {
  border: 1px solid black;
  margin: 1rem auto;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  background: #C0A18F;
}

.company img {
  width:200px;
}

.company_text {
  background: #FFFFFF;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

/*
font-family: 'EB Garamond', serif;
font-family: 'Playfair Display', serif;
